* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    text-align: center;
    background-color: skyblue;
    font-size: 20px;
    margin: auto;
    border-radius: 70%;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    max-width: 80rem;
    margin: 0 auto;
    background-color: lightblue;
}
.btn{
    padding: 10px;
    font-style: italic;
    font-size: 15px;   
}

.btn:hover{
    cursor: pointer;
    color: red;
    transform: translateY(-5px);
}
.title{
    text-align: center;
    font-size: 35px;
}
.questions{
    font-size: 30px;
}

.btn-next{
    background-color: #fff;
    font-size: 20px;
    color: black;
    padding: 15px 35px; 
    margin-bottom: 15px;
    border: 2px solid transparent; 
}

.btn-next:hover{
    background-color: lightyellow;
    color: red;
    transform: translateY(-5px);
    border: 2px solid lightblue;
    transition: 0.3s;
}

.quiz-body{
    font-size: 20px;
    font-weight: bolder;
    margin: 30px;
}

.option{
   background-color: #fff;
   width: 300px;
   padding: 15px 20px; 
   margin-bottom: 15px;
   border: 2px solid transparent; 
}

.option:hover{
    cursor: pointer;
    border: 2px solid lightblue;
    color: lightblue;
    transition: 0.3s;
}
.quiz-timer{
    align-content: center;
    font-size: 30px;
    font-weight: bold;
    padding-left: 200px;
}
#score{
    background-color: yellow;
    font-size: 30px;
    font-weight: bolder;
}